.App{
    height: 100%;
    width: 100%;
    background-color: #fed9b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

}

table, tr, th, td{
    border: 1px solid white;
}

@media only screen and (max-width: 1200px){
    .App{
        flex-direction: column;
    }
}